.main__banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  // margin-bottom: 75px;

  .main-banner-item {
    .banner-carousel {
      .item {
        height: calc(100vh - 100px);
        width: 100vw;
        overflow: hidden;
        position: relative;
        .cover {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          max-width: auto;
          z-index: -1;

          img {
            min-width: 100% !important;
            max-width: unset !important;
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .item-caption {
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;
          z-index: 2;
          h1 {
            color: $lightOrang;
            text-transform: uppercase;
            font-size: $font-h-lg;
            margin: 0;
          }
          p {
            color: $light;
            text-transform: uppercase;
            font-size: $font-h-lg;
            margin: 0;
            margin-bottom: 1.5rem;
          }
          span {
            display: inline-block;
            color: $light;
            font-size: $font-med;
            text-transform: uppercase;
            padding-bottom: 0.125rem;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid $white;
          }
        }
        &::after {
          content: " ";
          background-color: rgba($color: #000, $alpha: 0.75);
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 0;
        }
      }
      .owl-dots {
        position: absolute;
        bottom: 3rem;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        align-items: center;
        .owl-dot {
          background-color: $gray;
          height: 10px;
          width: 10px;
          margin: 0 0.25rem;
          &.active {
            background-color: $light;
            height: 14px;
            width: 14px;
          }
        }
      }
      .owl-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        .owl-prev,
        .owl-next {
          width: 3rem;
          height: 3rem;
          font-size: 2rem;
          color: rgba($color: $light, $alpha: 0.5);
          &:hover {
            color: $lightOrang;
          }
        }
        .owl {
          &-prev {
          }
          &-next {
          }
        }
      }
    }
  }

  .main-banner-item {
    .carousel-indicators {
      align-items: center;
      bottom: 2rem;
      button {
        width: 10px;
        height: 10px;
        border: 1px solid transparent;
        border-radius: 1rem;
        &.active {
          width: 15px;
          height: 15px;
        }
      }
    }
    .carousel-inner {
      .carousel-item {
        width: 100vw;
        height: calc(100vh - 85px);

        .carousel-caption {
          top: 50%;
          bottom: auto;
          transform: translateY(-50%);
          z-index: 2;
          h1 {
            color: $lightOrang;
            font-weight: $font-w-bold;
            text-transform: uppercase;
          }
          p {
            text-transform: uppercase;
          }
          span {
            text-transform: uppercase;
            border-bottom: 1px solid $white;
            padding-bottom: 0.25rem;
            margin-bottom: 0.25rem;
            display: inline-block;
            line-height: 1.2;
          }
        }
      }

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.75);
        z-index: 1;
      }
    }
  }
}
