.contact-area {
  background-color: $lightOrang;
  position: relative;
  .form {
    input,
    textarea {
      border-radius: 14px;
      font-size: $font-sm;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid $white;
      background-color: $white;
      box-sizing: border-box;
      height: 54px;
      &:focus {
        border: 1px solid $lightOrang !important;
        border-bottom: 1px solid $lightOrang !important;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2) !important;
      }
      @include breakpoints-down(small) {
        padding: 10px 15px;
      }
    }
    button {
      border-radius: 14px;
      width: 100%;
    }
  }
  .widget-box {
    padding: 2.5rem 3rem 0.75rem;
    background-color: $darkBlue;
    border-radius: 25px;
    // max-width: 450px;
    @include breakpoints-down(small) {
      padding: 2.5rem 1rem 0.75rem;
    }
    &-title {
      font-size: $font-xl;
      font-weight: $font-w-bold;
      color: $white;
      padding-bottom: 2rem;
      border-bottom: 1px solid $blue-50;
      margin-bottom: 2rem;
      @include breakpoints-down(small) {
        font-size: $font-med;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;

      .widget {
        display: flex;
        &-icon {
          min-width: 55px;
          min-height: 55px;
          max-width: 55px;
          max-height: 55px;
          margin-right: 30px;
          background-color: $blue-50;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: $font-lg;
          color: #fff;
          border-radius: 5rem;
          @include breakpoints-down(small) {
            margin-right: 15px;
          }
        }
        &-body {
          margin-bottom: 0.75rem;
          h3 {
            font-size: $font-sm;
            font-weight: $font-w-bold;
            color: $light;
          }
          p {
            color: $white-50;
            font-size: $font-med;
          }
        }
      }
    }
  }
  h1 {
    font-size: $font-h;
  }
  &::before {
    content: "";
    position: absolute;
    left: -160px;
    top: -120px;
    width: 400px;
    height: 620px;
    transform: rotate(10deg);
    background-image: url(../../images/cody-rebot.png);
    background-size: cover;
    z-index: 2;
    @include breakpoints-down(small) {
      left: -60px;
      top: -50px;
      width: 130px;
      height: 200px;
    }
  }
  &[dir="rtl"] {
    font-family: $font-f-tajawal;
    &::before {
      right: -160px;
      left: auto;
      transform: rotate(-10deg);
      @include breakpoints-down(small) {
        right: 00px;
        transform: rotate(0deg);
      }
    }
  }
}
