.courses-area {
  .nav-boxs {
    @include breakpoints-down(small) {
      flex-direction: row !important;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      margin-bottom: 1rem;
    }
    .nav-box {
      padding: 1.25rem;
      border-radius: 1rem;
      color: $blue;
      text-align: center;
      background-color: $blue-20;
      margin: 0 auto 0.25rem;
      width: 250px;
      @include breakpoints-down(small) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        min-width: 150px;
        min-height: 120px;
        margin: 0 0.25rem;
        border-radius: 13px;
      }

      &.active {
        background-color: $darkBlue;
        color: $white;
        .head {
          color: $white;
          display: flex;
          margin-bottom: 1.25rem;
          @include breakpoints-down(small) {
            margin-bottom: 0.5rem;
          }
        }
        .title {
          font-size: $font-med;
          @include breakpoints-down(small) {
            font-size: $font-sm;
          }
        }
      }
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $blue-50;
        font-weight: $font-w-bold;
        max-width: 170px;
        margin: 0 auto 0.5rem;
        display: none;
        @include breakpoints-down(small) {
          display: flex;
          margin: 0 0 0.5rem;
        }
        span,
        i {
          opacity: 0.5;
        }
      }
      .title {
        font-weight: $font-w-bold;
        margin: 0;
        font-size: $font-sm;
      }
    }
  }

  .course {
    background-color: $white;
    border: 1px solid $blue-20;
    margin: 1rem 1rem 1.25rem;
    .course-image {
      overflow: hidden;
      a {
        img {
          border-radius: 5px 5px 0 0;
          transition: $animation-s;
        }
      }
    }
    &:hover {
      .course-image img {
        transform: rotate(2deg) scale(1.2);
      }
    }
    .course-content {
      padding: 1.25rem;
      background-color: #f8f8f8;
      box-shadow: 0 0px 28px 0 rgba(0, 0, 0, 0.09);

      .title {
        color: $darkBlue;
        font-size: $font-lg;
        font-weight: $font-w-bold;
        // padding-bottom: 1rem;
        // margin-bottom: 1rem;
        // border-bottom: 1px dashed #ea512e;
        transition: $animation-s;
        &:hover {
          color: $orang;
        }
      }
    }
  }

  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      height: 40px;
      width: 40px;
      justify-content: center;
      align-items: center;
      background-color: $orang-20 !important;
      color: $orang !important;
      transition: $animation-s;
      &:hover {
        background-color: $orang !important;
        color: $white !important;
      }
    }
    .owl-prev {
      left: -40px;
      @include breakpoints-down(small) {
        left: -30px;
      }
    }
    .owl-next {
      right: -40px;
      @include breakpoints-down(small) {
        right: -30px;
      }
    }
  }
  .owl-dots {
    text-align: center;
    .owl-dot {
      &.active {
        span {
          &::after {
            position: absolute;
            left: 50%;
            top: 50%;
            content: "";
            height: 5px;
            width: 5px;
            background: $orang;
            transform: translate(-50%, -50%);
            border-radius: 5rem;
          }
        }
      }
      span {
        display: inline-flex;
        border: 2px solid $blue-50;
        border-radius: 2rem;
        background: no-repeat;
        height: 20px;
        width: 20px;
        margin: 0 0.25rem;
        position: relative;
        z-index: 1;
      }
    }
  }
}
