.default-feature-area {
  background-color: #fefbf3;

  .widget {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      margin-bottom: 10px;
      padding: 35px;
      background-color: $white;
      border: 10px solid $lightOrang;
      position: relative;
      &::before,
      &::after {
        content: " ";
        position: absolute;
        transform: translate(50%, -50%);
        top: 50%;
        right: 50%;
        bottom: 0;
        border-radius: 50%;
        border: 20px solid rgba($color: $lightOrang, $alpha: 0.2);
      }

      &::before {
        width: 160px;
        height: 160px;
      }
      &::after {
        width: 180px;
        height: 180px;
      }
    }

    &__body {
      padding: 1rem 0;
      text-align: center;
    }
    &__heading {
      font-size: $font-xl;
      font-weight: $font-w-bold;
      letter-spacing: normal;
      // line-height: 34px;
      margin-bottom: 16px;
    }
    p {
      color: $gray;
      font-size: $font-sm;
      font-family: $font-f-manrope;
    }
  }
}
