.footer-area {
  background-image: url(../../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0 20px 0;
  position: relative;
  font-family: $font-f-catamaran;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.97);
    z-index: -1;
  }

  &-social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin: 0 5px 0;
      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: $lightOrang-80;
        border-radius: 10px;
        font-size: $font-med;
        color: $light;
        transition: $animation-s;
        &:hover {
          transform: translateY(-4px);
          background-color: $lightOrang;
        }
      }
    }
  }

  &-widget {
    margin-bottom: 1.875rem;
    h3 {
      font-size: $font-xl;
      font-weight: $font-w-bold;
      color: $white;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        bottom: 0;
        left: 0;
        background: $lightOrang;
      }
    }
    li {
      margin-bottom: 1.125rem;
    }
    .contact-info {
      li {
        padding-left: 1.75rem;
        margin-bottom: 1rem;
        position: relative;
        i {
          position: absolute;
          left: 0;
          color: $lightOrang;
        }
        h5 {
          font-weight: $font-w-bold;
          color: $white;
          margin-bottom: 0;
        }
        a,
        p {
          color: $white;
          margin-bottom: 0;
          font-size: $font-sm;
        }
      }
    }
    a {
      color: $white;
      font-size: $font-sm;
      font-weight: $font-w-bold;
      padding-bottom: 0.125rem;
      letter-spacing: 0.02rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 0px;
        height: 2px;
        bottom: 0;
        left: 0;
        background: $orang;
        transition: $animation-s;
      }
      &:hover::after {
        width: 100%;
      }
    }
    .photo-galary-list {
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 0 0 auto;
        width: 33.3333%;
        padding: 0 0.125rem;
        margin-bottom: 0.125rem;
        a {
          display: block;
          > img {
            width: 100%;
          }
        }
      }
    }
  }
}

.copyright-area {
  background-color: $black;
  padding: 25px;
  text-align: center;
  color: $gray;
  p {
    font-size: $font-sm;
    margin: 0;
  }
}
