html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: franklin;
  src: url(../fonts/Franklin-Gothic-Demi-Cond-Regular.ttf) format("truetype");
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  // font-family: "Public Sans", sans-serif;
  font-family: "franklin", "Manrope", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.5px;
  background-color: $white;

  &.noscroll {
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
  // transition: $animation-s;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
.button,
.btn {
  // padding: 0.875rem 1.875rem;
  border-radius: 7px;
  cursor: pointer;
  // color: $white;
  // font-weight: 400;
  // border: 0;
  overflow: hidden;
  @include breakpoints-down(small) {
    // padding: 0.575rem 1.175rem;
  }

  &:hover {
    color: $white;
    // opacity: 0.75;
  }
  &.btn-primary {
    // background: linear-gradient(to right, $lightOrang, $orang);
    background: $lightOrang;
  }
  &.btn-secondary {
    background: $orang;
  }
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
// visibility
.hide-for-mobile {
  @include breakpoints-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoints-up(large) {
    display: none;
  }
}

.default-padding {
  padding: 100px 0 60px 0;
  @include breakpoints-down(small) {
    padding: 50px 0 30px 0;
  }
}
