.site-heading {
  margin-bottom: 60px;
  margin-top: -5px;
  position: relative;

  h5 {
    color: $blue;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    overflow: inherit;
  }
  h2 {
    display: block;
    color: $darkBlue;
    font-weight: $font-w-bold;
    font-size: $font-h-lg;
    padding-bottom: 5px;
    margin-bottom: 0;
    position: relative;
    line-height: 1.4;
  }
  &::before {
    background: $orang none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 40px;
  }
  &::after {
    background: $orang none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: 20px;
    position: absolute;
    width: 5px;
  }
}

.text {
  &-primary {
    color: $orang !important;
  }
  &-blue {
    color: $darkBlue;
  }
}
