.site-heading {
  margin-bottom: 60px;
  margin-top: -5px;
  position: relative;
  @include breakpoints-down(small) {
    margin-bottom: 30px;
  }

  h5 {
    color: $gray;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    overflow: inherit;
    margin: 0;
    @include breakpoints-down(small) {
      font-size: $font-sm;
    }
  }
  h2 {
    display: block;
    color: $lightOrang;
    font-weight: $font-w-bold;
    font-size: $font-h-lg;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    @include breakpoints-down(small) {
      font-size: $font-xl;
    }
  }
  &::before {
    background: $orang none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 40px;
  }
  &::after {
    background: $orang none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: 20px;
    position: absolute;
    width: 5px;
  }
}
.head-seaction {
  h1 {
    font-size: $font-h;
    text-transform: uppercase;
  }
  p {
    font-weight: $font-w-normal;
  }
}

.fw-bold {
  font-weight: $font-w-bold !important;
}

.text {
  &-primary {
    color: $lightOrang !important;
  }
  &-blue {
    color: $darkBlue;
  }
  &-light {
    color: $light;
  }
  &-white {
    color: $white;
  }
  &-white-50 {
    color: $white-50;
  }
  &-white-75 {
    color: $white-75;
  }

  // Align
  &-center {
    text-align: center;
  }

  //@include
  &-uppercase {
    text-transform: uppercase !important;
  }
}
