html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  background-color: #fff;
}

body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
.button,
.btn {
  padding: 0.875rem 1.875rem;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  border: 0;
  overflow: hidden;
}

@media (max-width: 39.9375em) {
  button,
  .button,
  .btn {
    padding: 0.575rem 1.175rem;
  }
}

button:hover,
.button:hover,
.btn:hover {
  color: #fff;
}

button.btn-primary,
.button.btn-primary,
.btn.btn-primary {
  background: #ea512e;
}

button.btn-secondary,
.button.btn-secondary,
.btn.btn-secondary {
  background: #ffa042;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.default-padding {
  padding: 100px 0 60px 0;
}

@media (max-width: 39.9375em) {
  .default-padding {
    padding: 50px 0 30px 0;
  }
}

.site-heading {
  margin-bottom: 60px;
  margin-top: -5px;
  position: relative;
}

@media (max-width: 39.9375em) {
  .site-heading {
    margin-bottom: 30px;
  }
}

.site-heading h5 {
  color: #5b6ea6;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  overflow: inherit;
}

@media (max-width: 39.9375em) {
  .site-heading h5 {
    font-size: 0.875rem;
  }
}

.site-heading h2 {
  display: block;
  color: #0a124c;
  font-weight: 700;
  font-size: 3.75rem;
  padding-bottom: 5px;
  margin-bottom: 0;
  position: relative;
  line-height: 1.4;
}

@media (max-width: 39.9375em) {
  .site-heading h2 {
    font-size: 1.5rem;
  }
}

.site-heading::before {
  background: #ea512e none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 40px;
}

.site-heading::after {
  background: #ea512e none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: 20px;
  position: absolute;
  width: 5px;
}

.text-primary {
  color: #ea512e !important;
}

.text-blue {
  color: #0a124c;
}

@-webkit-keyframes fade-in {
  form {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

@keyframes fade-in {
  form {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  form {
    display: block;
    opacity: 1;
  }
  98% {
    display: block;
    opacity: 0;
  }
  to {
    display: none;
    opacity: 0;
  }
}

@keyframes fade-out {
  form {
    display: block;
    opacity: 1;
  }
  98% {
    display: block;
    opacity: 0;
  }
  to {
    display: none;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@-webkit-keyframes slide-left-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-top-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-top-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes border-transform-default {
  0%,
  to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform-default {
  0%,
  to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

/* Sweep To Right */
.hvr-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.hvr-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0a124c;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.hvr-btn:hover,
.hvr-btn:focus,
.hvr-btn:active {
  color: white;
}

.hvr-btn:hover:before,
.hvr-btn:focus:before,
.hvr-btn:active:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  background-color: #0a124c;
}

@media (max-width: 39.9375em) {
  .top-bar {
    height: auto;
    display: none;
  }
}

.top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-bar ul li {
  display: inline-block;
  font-size: 0.875rem;
  color: #fff;
  margin-right: 0.75rem;
}

.top-bar ul li a {
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.top-bar ul li a:hover {
  color: #ffa042;
}

.top-bar ul li span {
  font-weight: 700;
}

.top-bar ul li i {
  color: #ffa042;
}

.top-bar ul.social li {
  margin-right: 0.75rem;
}

.top-bar ul.social li a > i {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 1.125rem;
}

.top-bar ul.social li a:hover i {
  color: #ffa042;
}

.top-bar .sign-in a {
  font-size: 0.875rem;
  font-weight: 700;
  color: #ffa042;
}

.top-bar .sign-in a:last-child {
  color: #fff;
}

.top-bar .sign-in a:hover {
  color: #ffa042;
}

.header {
  background-color: #fff;
}

.header.open .overlay {
  display: block;
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.open .header__menu {
  display: block;
}

.header .overlay {
  opacity: 0;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#5b6ea6), to(transparent));
  background: linear-gradient(to bottom, #5b6ea6, transparent);
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

.header nav {
  padding: 10px 0px;
}

.header__logo {
  height: 65px;
}

.header__logo img {
  height: 100%;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #5b6ea6;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 4px 1px;
          transform-origin: 4px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 4px;
}

.header__menu {
  position: absolute;
  width: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  padding: 1.625rem;
  border-radius: 5px;
  background: #fff;
  display: none;
}

.header__menu a {
  color: #0d0d0d;
  padding: 0.625rem;
  display: block;
  text-align: center;
}

.header__links a {
  color: #0d0d0d;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 4px;
  left: -5px;
  bottom: -20px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#ea512e), to(#f27e7e));
  background: linear-gradient(to right, #ea512e, #f27e7e);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #f27e7e;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__links a.active {
  color: #f27e7e;
}

.header__links a.active::before {
  opacity: 1;
}

.header__cta {
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.875rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__cta:hover {
  opacity: 0.75;
}

.main__banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.main__banner .main-banner-item {
  background-image: url(../../images/main-banner/main-banner-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__banner .main-banner-item .main-banner-content {
  max-width: 600px;
  margin-left: auto;
}

.main__banner .main-banner-item .main-banner-content span {
  color: #ea512e;
  font-size: 1.125rem;
  font-weight: 700;
}

@media (max-width: 39.9375em) {
  .main__banner .main-banner-item .main-banner-content span {
    font-size: 1.125rem;
  }
}

.main__banner .main-banner-item .main-banner-content h1 {
  color: #0a124c;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 1rem 0;
}

@media (max-width: 39.9375em) {
  .main__banner .main-banner-item .main-banner-content h1 {
    font-size: 2.5rem;
  }
}

.main__banner .main-banner-item .main-banner-content p {
  color: #5b6ea6;
}

@media (max-width: 39.9375em) {
  .main__banner .main-banner-item .main-banner-content p {
    font-size: 0.875rem;
  }
}

.main__banner .shape-1,
.main__banner .shape-2,
.main__banner .shape-3,
.main__banner .shape-4 {
  position: absolute;
  z-index: 1;
  width: 120px;
  -webkit-animation: slide-left-right 5s infinite;
          animation: slide-left-right 5s infinite;
}

@media (max-width: 39.9375em) {
  .main__banner .shape-1,
  .main__banner .shape-2,
  .main__banner .shape-3,
  .main__banner .shape-4 {
    width: 60px;
  }
}

.main__banner .shape-1 img,
.main__banner .shape-2 img,
.main__banner .shape-3 img,
.main__banner .shape-4 img {
  width: 100%;
}

.main__banner .shape-1 {
  top: 25px;
  left: 4rem;
}

@media (max-width: 39.9375em) {
  .main__banner .shape-1 {
    top: 0.5rem;
    left: 1rem;
  }
}

.main__banner .shape-2 {
  top: 70%;
  right: 40%;
  -webkit-animation: slide-top-bottom 5s infinite;
          animation: slide-top-bottom 5s infinite;
}

@media (max-width: 39.9375em) {
  .main__banner .shape-2 {
    top: 6rem;
    right: 1rem;
  }
}

.main__banner .shape-3 {
  top: 70%;
  left: 4rem;
}

@media (max-width: 39.9375em) {
  .main__banner .shape-3 {
    top: 15rem;
    left: 1rem;
  }
}

.main__banner .shape-4 {
  top: 70%;
  right: 40%;
  top: 45px;
  right: 50%;
}

@media (max-width: 39.9375em) {
  .main__banner .shape-4 {
    top: 2rem;
    right: 1rem;
  }
}

.main__banner::after {
  content: " ";
  background-image: url(../../images/main-banner/banner-bg-shape.png);
  background-size: cover;
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: -10px;
  z-index: 1;
}

@media (max-width: 39.9375em) {
  .main__banner::after {
    height: 80px;
  }
}

.who-we-are {
  position: relative;
  z-index: 1;
}

.who-we-are-image {
  text-align: center;
  position: relative;
  z-index: 1;
}

.who-we-are-image img {
  border-radius: 50%;
  padding: 20px;
}

.who-we-are-image::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #f5890d;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: border-transform-default 50s linear infinite alternate forwards;
          animation: border-transform-default 50s linear infinite alternate forwards;
}

.who-we-are-image::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ea512e;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
}

.who-we-are-content span {
  color: #ea512e;
  font-size: 1.25rem;
}

@media (max-width: 39.9375em) {
  .who-we-are-content span {
    font-size: 1.125rem;
    margin-bottom: 00.5rem;
  }
}

.who-we-are-content h2 {
  color: #0a124c;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.75rem 0 1.5rem 0;
}

@media (max-width: 39.9375em) {
  .who-we-are-content h2 {
    font-size: 1.5rem;
  }
}

.who-we-are-content p {
  color: #666666;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

@media (max-width: 39.9375em) {
  .who-we-are-content p {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
}

.who-we-are-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 39.9375em) {
  .who-we-are-list ul {
    margin: 0 1rem;
  }
}

.who-we-are-list ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
  padding: 0 0.25rem;
  margin-bottom: 1rem;
}

@media (max-width: 39.9375em) {
  .who-we-are-list ul li {
    width: 100%;
  }
}

.who-we-are-list ul li > i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  color: #ea512e;
  font-size: 1.125rem;
  background-color: rgba(234, 81, 46, 0.2);
  padding: 0.5rem;
  border-radius: 15px;
  margin-bottom: 0.25rem;
}

.who-we-are-list ul li h3 {
  color: #5b6ea6;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Catamaran", sans-serif;
  display: inline-block;
  margin: 0 0.5rem;
}

.who-we-are-list ul li p {
  color: #666666;
  font-size: 0.875rem;
  margin-bottom: 0;
  display: none;
}

.default-feature-area {
  background-color: #fdf6ed;
}

.default-feature-area .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 39.9375em) {
  .default-feature-area .widget {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5rem;
  }
}

.default-feature-area .widget__icon {
  min-width: 65px;
  min-height: 65px;
  max-width: 65px;
  max-height: 65px;
  border-radius: 40%;
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: 39.9375em) {
  .default-feature-area .widget__icon {
    margin-bottom: 0px;
  }
}

.default-feature-area .widget__icon img {
  position: absolute;
  bottom: -15%;
  right: -20%;
  width: 80%;
}

.default-feature-area .widget__icon_vission {
  background-color: #b3c3f2;
}

.default-feature-area .widget__icon_mission {
  background-color: #ffa042;
}

.default-feature-area .widget__icon_values {
  background-color: #f27e7e;
}

.default-feature-area .widget__body {
  padding: 1rem 0;
}

.default-feature-area .widget__heading {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: normal;
  margin-bottom: 16px;
}

.default-feature-area .widget__description {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 28px;
  color: #5b6ea6;
  max-width: 300px;
}

@media (max-width: 39.9375em) {
  .default-feature-area .widget__description {
    font-size: 0.875rem;
  }
}

@media (max-width: 39.9375em) {
  .courses-area .nav-boxs {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 1rem;
  }
}

.courses-area .nav-boxs .nav-box {
  padding: 1.25rem;
  border-radius: 1rem;
  color: #5b6ea6;
  text-align: center;
  background-color: #5b6ea620;
  margin: 0 auto 0.25rem;
  width: 250px;
}

@media (max-width: 39.9375em) {
  .courses-area .nav-boxs .nav-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
    min-width: 150px;
    min-height: 120px;
    margin: 0 0.25rem;
    border-radius: 13px;
  }
}

.courses-area .nav-boxs .nav-box.active {
  background-color: #0a124c;
  color: #fff;
}

.courses-area .nav-boxs .nav-box.active .head {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
}

@media (max-width: 39.9375em) {
  .courses-area .nav-boxs .nav-box.active .head {
    margin-bottom: 0.5rem;
  }
}

.courses-area .nav-boxs .nav-box.active .title {
  font-size: 1.125rem;
}

@media (max-width: 39.9375em) {
  .courses-area .nav-boxs .nav-box.active .title {
    font-size: 0.875rem;
  }
}

.courses-area .nav-boxs .nav-box .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5b6ea650;
  font-weight: 700;
  max-width: 170px;
  margin: 0 auto 0.5rem;
  display: none;
}

@media (max-width: 39.9375em) {
  .courses-area .nav-boxs .nav-box .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0.5rem;
  }
}

.courses-area .nav-boxs .nav-box .head span,
.courses-area .nav-boxs .nav-box .head i {
  opacity: 0.5;
}

.courses-area .nav-boxs .nav-box .title {
  font-weight: 700;
  margin: 0;
  font-size: 0.875rem;
}

.courses-area .course {
  background-color: #fff;
  border: 1px solid #5b6ea620;
  margin: 1rem 1rem 1.25rem;
}

.courses-area .course .course-image {
  overflow: hidden;
}

.courses-area .course .course-image a img {
  border-radius: 5px 5px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.courses-area .course:hover .course-image img {
  -webkit-transform: rotate(2deg) scale(1.2);
          transform: rotate(2deg) scale(1.2);
}

.courses-area .course .course-content {
  padding: 1.25rem;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 0px 28px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0px 28px 0 rgba(0, 0, 0, 0.09);
}

.courses-area .course .course-content .title {
  color: #0a124c;
  font-size: 1.25rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.courses-area .course .course-content .title:hover {
  color: #ea512e;
}

.courses-area .owl-nav .owl-prev,
.courses-area .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(234, 81, 46, 0.2) !important;
  color: #ea512e !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.courses-area .owl-nav .owl-prev:hover,
.courses-area .owl-nav .owl-next:hover {
  background-color: #ea512e !important;
  color: #fff !important;
}

.courses-area .owl-nav .owl-prev {
  left: -40px;
}

@media (max-width: 39.9375em) {
  .courses-area .owl-nav .owl-prev {
    left: -30px;
  }
}

.courses-area .owl-nav .owl-next {
  right: -40px;
}

@media (max-width: 39.9375em) {
  .courses-area .owl-nav .owl-next {
    right: -30px;
  }
}

.courses-area .owl-dots {
  text-align: center;
}

.courses-area .owl-dots .owl-dot.active span::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 5px;
  width: 5px;
  background: #ea512e;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5rem;
}

.courses-area .owl-dots .owl-dot span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid #5b6ea650;
  border-radius: 2rem;
  background: no-repeat;
  height: 20px;
  width: 20px;
  margin: 0 0.25rem;
  position: relative;
  z-index: 1;
}

.teacher-area {
  background-image: url(../../images/teacher-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.teacher-area .single-teacher {
  max-width: 350px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teacher-area .single-teacher .image {
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media (max-width: 63.9375em) {
  .teacher-area .single-teacher .image {
    max-width: 200px;
  }
}

.teacher-area .single-teacher .image img {
  width: 100%;
  border-radius: 50%;
  padding: 10px;
}

.teacher-area .single-teacher .image::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #f5890d;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: border-transform-default 50s linear infinite alternate forwards;
          animation: border-transform-default 50s linear infinite alternate forwards;
}

.teacher-area .single-teacher .image::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ea512e;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: border-transform-default 20s linear infinite alternate forwards;
          animation: border-transform-default 20s linear infinite alternate forwards;
}

.teacher-area .single-teacher .image ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: -50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.teacher-area .single-teacher .image ul.social li {
  margin: 0 0.25rem;
}

.teacher-area .single-teacher .image ul.social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  color: #fff;
  border-radius: 2rem;
  background-color: rgba(234, 81, 46, 0.75);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.teacher-area .single-teacher .image ul.social li a:hover {
  background-color: #ea512e;
}

.teacher-area .single-teacher .image:hover .social {
  bottom: 50px;
}

.teacher-area .single-teacher .content {
  padding: 1rem;
  text-align: center;
}

.teacher-area .single-teacher .content h3 {
  font-size: 1.25rem;
  color: #0a124c;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.teacher-area .single-teacher .content span {
  color: #ea512e;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: block;
}

.teacher-area .single-teacher .content p {
  font-size: 0.875rem;
  color: #666666;
}

.sponsors-area .item img {
  -webkit-filter: grayscale(1) opacity(0.75);
          filter: grayscale(1) opacity(0.75);
  max-height: 100px;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sponsors-area .item img:hover {
  -webkit-filter: grayscale(0) opacity(1);
          filter: grayscale(0) opacity(1);
}

.contact-area {
  background-color: #fdf6ed;
}

.contact-area .form input,
.contact-area .form textarea {
  border-radius: 1.5rem;
  font-size: 0.875rem;
  padding: 15px;
  border-color: #5b6ea650;
}

@media (max-width: 39.9375em) {
  .contact-area .form input,
  .contact-area .form textarea {
    padding: 10px 15px;
  }
}

.contact-area .widget-box {
  padding: 2.5rem 3rem 0.75rem;
  background-color: #0a124c;
  border-radius: 25px;
}

@media (max-width: 39.9375em) {
  .contact-area .widget-box {
    padding: 2.5rem 1rem 0.75rem;
  }
}

.contact-area .widget-box-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  padding-bottom: 2rem;
  border-bottom: 1px solid #5b6ea650;
  margin-bottom: 2rem;
}

@media (max-width: 39.9375em) {
  .contact-area .widget-box-title {
    font-size: 1.125rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.contact-area .widget-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-area .widget-box-wrapper .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-area .widget-box-wrapper .widget-icon {
  min-width: 55px;
  min-height: 55px;
  max-width: 55px;
  max-height: 55px;
  margin-right: 30px;
  background-color: #5b6ea650;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25rem;
  color: #fff;
  border-radius: 5rem;
}

@media (max-width: 39.9375em) {
  .contact-area .widget-box-wrapper .widget-icon {
    margin-right: 15px;
  }
}

.contact-area .widget-box-wrapper .widget-body {
  margin-bottom: 0.75rem;
}

.contact-area .widget-box-wrapper .widget-body h3 {
  font-size: 0.875rem;
  font-weight: 700;
  color: #f1f1f1;
}

.contact-area .widget-box-wrapper .widget-body p {
  color: #ffffff50;
  font-size: 1.125rem;
}

.footer-area {
  background-image: url(../../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 70px 0;
  position: relative;
  font-family: "Catamaran", sans-serif;
  z-index: 1;
}

.footer-area::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.footer-area-social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-area-social li {
  margin: 0 5px 0;
}

.footer-area-social li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgba(234, 81, 46, 0.5);
  border-radius: 10px;
  font-size: 1.125rem;
  color: #f1f1f1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-area-social li > a:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  background-color: #ea512e;
}

.footer-area-widget {
  margin-bottom: 1.875rem;
}

.footer-area-widget h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.footer-area-widget h3::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #ea512e;
}

.footer-area-widget li {
  margin-bottom: 1.125rem;
}

.footer-area-widget .contact-info li {
  padding-left: 1.75rem;
  margin-bottom: 1rem;
  position: relative;
}

.footer-area-widget .contact-info li i {
  position: absolute;
  left: 0;
  color: #ea512e;
}

.footer-area-widget .contact-info li h5 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
}

.footer-area-widget .contact-info li a,
.footer-area-widget .contact-info li p {
  color: #fff;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.footer-area-widget a {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  padding-bottom: 0.125rem;
  letter-spacing: 0.02rem;
  position: relative;
}

.footer-area-widget a::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #ea512e;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-area-widget a:hover::after {
  width: 100%;
}

.footer-area-widget .photo-galary-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-area-widget .photo-galary-list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.3333%;
  padding: 0 0.125rem;
  margin-bottom: 0.125rem;
}

.footer-area-widget .photo-galary-list li a {
  display: block;
}

.footer-area-widget .photo-galary-list li a > img {
  width: 100%;
}

.copyright-area {
  background-color: #0d0d0d;
  padding: 25px;
  text-align: center;
  color: #666666;
}

.copyright-area p {
  font-size: 0.875rem;
  margin: 0;
}
/*# sourceMappingURL=syle.css.map */